{% comment %}
  Button snippet for global use for anchors and form buttons.
{% endcomment %}

{% if tag == 'button' or type != blank %}
  <button
    {% if type != blank %}
      type="{{ type }}"
    {% endif %}
    class="btn-slide-hover {{ class }}"
    {% if id != blank %}
      id="{{ id }}"
    {% endif %}
    {% if disabled %}
      disabled
    {% endif %}
  >
    <span class="{{ text_class | default: 'custom-btn-text' }}">{{ text }}</span>
    {% if icon != blank %}
      <img
        src="{{ icon | image_url: width: 40 }}"
        class="{{ icon_class | default: 'custom-btn-icon' }}"
        width="20"
        height="20"
        alt=""
        loading="lazy"
      >
    {% elsif icon_svg != blank %}
      {{ icon_svg }}
    {% endif %}
  </button>
{% else %}
  <a
    href="{{ link | default: '#' }}"
    class="btn-slide-hover {{ class }}"
    {% if id != blank %}
      id="{{ id }}"
    {% endif %}
  >
    <span class="{{ text_class | default: 'custom-btn-text' }}">{{ text }}</span>
    {% if icon != blank %}
      <img
        src="{{ icon | image_url: width: 40 }}"
        class="{{ icon_class | default: 'custom-btn-icon' }}"
        width="20"
        height="20"
        alt=""
        loading="lazy"
      >
    {% elsif icon_svg != blank %}
      {{ icon_svg }}
    {% endif %}
  </a>
{% endif %}
